
/* color text message */
.disconnectMessage {
	color: red;
}

.connectMessage {
	color: green;
}

/* button */
/* button connect disconnect */
.btn-custom1 {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-custom1:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
}

